<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="utility.ExtentReportManager"></listener>
    </listeners>
    
    <!-- Test with thread-count set to 5 for parallel execution -->
    <test thread-count="5" name="Test">
        <classes>
            <!-- Ensure the class name is fully qualified -->
            <class name="testBase.Admin_pageTest" />
            <class name="testBase.PIMPageTest" />
            <class name="testBase.DashboardPageTest" />
            <class name="testBase.My_Info_PageTest" />
            <class name="testBase.Login_Page_test" />
            <class name="testBase.LeavePageTest" />
        </classes>
    </test>
</suite>
